<div class="auth-background" aria-hidden="true">
  <svg class="service-lines" viewBox="0 0 1440 760" preserveAspectRatio="none">
    <path class="line-green" d="M90 170H280Q340 170 340 230V330H470"/>
    <path class="line-clay" d="M970 250H1130Q1190 250 1190 310V460H1350"/>
    <path class="line-gold" d="M150 610H300Q350 610 350 560"/>
  </svg>

  <span class="motif motif-clean icon">cleaning_services</span>
  <span class="motif motif-repair icon">home_repair_service</span>
  <span class="motif motif-home icon">chair</span>
  <span class="motif motif-calendar icon">calendar_month</span>
  <span class="motif motif-pin icon">location_on</span>
  <span class="dot-grid dot-grid-left"></span>
  <span class="dot-grid dot-grid-right"></span>
</div>
